.manage-articles {
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
}


.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-container {
    overflow-x: auto;
}

.articles-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.articles-table th,
.articles-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.articles-table th {
    background-color: #f333;
}

.action-cell {
    text-align: center;
}

.edit-button {
    padding: 8px 12px;
    background-color: #ffc107;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #e0a800;
}

.delete-button {
    padding: 8px 12px;
    background-color: #dc3545;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #ccc;
}

.pagination span {
    font-size: 1em;
}