.article-card {
    width: 220px;
    height: 180px;
    background: linear-gradient(to bottom, #000, #333);
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
    margin: 10px;
    padding-bottom: 40px;
    overflow: hidden;
}

.article-card:hover {
    transform: scale(1.02);
}

.article-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.article-card h3 {
    font-size: 0.9em;
    margin: 10px 8px 0px;
    overflow-wrap: break-word;
    display: -webkit-box;
    /* -webkit-line-clamp: 2;
    line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-date {
    font-size: 0.6em;
    position: absolute;
    bottom: 0px;
    left: 8px;
}

.article-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Vignette de catégorie */
.category-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 2px 6px;
    font-size: 0.7em;
    border-radius: 4px;
    color: #fff;
    opacity: 0.9;
    z-index: 2;
}

/* Couleurs spécifiques selon la catégorie */
.category-informatique {
    background-color: #007BFF;
}

.category-mobile {
    background-color: #28a745;
}

.category-innovation {
    background-color: #ffc107;
}

.category-gadgets {
    background-color: #dc3545;
}

.category-jeux {
    background-color: #6f42c1;
}

/* --- Mode liste --- */
.article-card.list {
    width: 70%;
    max-width: 800px;
    height: auto;
    display: flex;
    align-items: stretch;
    padding: 0;
    margin: 10px 0;
    background: linear-gradient(to right, #000, #333);
    border-radius: 8px;
}

.article-card.list .list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.article-image.list {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    flex-shrink: 0;
}

.article-card.list .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    flex: 1;
}

.article-card.list h3 {
    font-size: 1em;
    margin-bottom: 8px;
}

.article-card.list .article-date {
    font-size: 0.8em;
    position: static;
}