.article-detail {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.detail-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.detail-title {
    margin-top: 20px;
    font-size: 2em;
    color: #fff;
}

.article-detail h2 {
    color: #fff;
    font-size: 1.6em;
    white-space: normal;
    overflow-wrap: break-word;
}

.detail-content p {
    margin: 15px 0;
    line-height: 1.6;
    color: #fff;
    white-space: normal;
    overflow-wrap: break-word;
}

.detail-date {
    color: #fff;
    font-size: 0.6em;
}

.back-button {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-button:hover {
    text-decoration: underline;
}

.article-detail {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    color: #fff;
}

.detail-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.article-detail h2 {
    color: #fff;
    font-size: 1.6em;
    white-space: normal;
    overflow-wrap: break-word;
}

.detail-date {
    color: #fff;
    font-size: 0.6em;
}

/* Badge pour la catégorie */
.detail-category {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Styles pour chaque catégorie (similaires à ArticleCard) */
.category-informatique {
    background: #007BFF;
    border: 1px solid #007BFF;
    color: #fff;
}

.category-mobile {
    background: #28a745;
    border: 1px solid #28a745;
    color: #fff;
}

.category-innovation {
    background: #ffc107;
    border: 1px solid #ffc107;
    color: #000;
}

.category-gadgets {
    background: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}

.category-jeux {
    background: #6f42c1;
    border: 1px solid #6f42c1;
    color: #fff;
}

.detail-content p {
    margin: 15px 0;
    line-height: 1.6;
    color: #fff;
    white-space: normal;
    overflow-wrap: break-word;
}

.back-button {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-button:hover {
    text-decoration: underline;
}



/* CSS pour l'alignement de l'éditeur */
.detail-content .ql-align-right {
    text-align: right !important;
}

.detail-content .ql-align-center {
    text-align: center !important;
}

.detail-content .ql-align-left {
    text-align: left !important;
}